<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 2px solid black;
      "
    >
      <h2>ID: <%= newData.id %></h2>
      <h2>Name: <%= newData.name %></h2>
      <h2>Price: <%= newData.price %></h2>
      <a href="/">Go Back</a>
    </div>
  </body>
</html>
